<div class="post universal_boxshadow">
    <div class="post_header">
        <div class="postHeader_pic">
            <img class="userImg point"  src={{user_img}} alt="post_userprofile" ></img>
        </div>
        <div class="postHeader_info">
            <div>
                <p class="ruda-regular point">{{user_name}}</p>
                <p class="ruda-regular-lighter">{{username}}</p>
            </div>
            <div>
                <p class="ruda-regular-lighter">{{commentDate}}</p>
            </div>
        </div>
        <div class="postHeader_follow">
            <img class="actionImg point" src="../../sprites/icons/Dark/icons8-add-user-male-96-darkmode.png" alt="follow" />
        </div>
    </div>
    <div class="post_content">
        <div class="postContent_text point">
            <p class="work-sans-regular">
                {{commentContent}}
            </p>
        </div>
    </div>
    <div class="post_actions">
        <div class="postActions_like">
            <img class="actionImg point" src="../../sprites/icons/Dark/icons8-like-96-darkmode.png" alt="like" />
            <p>{{commentLikes}}</p>
        </div>
        <div class="postActions_dislike">
            <img class="actionImg point" src="../../sprites/icons/Dark/icons8-dislike-96-darkmode.png" alt="dislike" />
            <p>{{commentDislikes}}</p>
        </div>
        <div class="postActions_comment">
            <form action="/feed/{{this.post}}/{{this._id}}" class="form-class" method="get">
                <input type="image" id="imgButton" class="actionImg point" src="../../sprites/icons/Dark/icons8-comments-96-darkmode.png" alt="comment" />
            </form>
            <p>{{commentComments}}</p>
        </div>
        {{!<img class="actionImg point" src="../../sprites/icons/Dark/icons8-share-96-darkmode.png" alt="share" />}}
    </div>
</div>