<div class="post universal_boxshadow">
    <div class="post_header">
        <div class="postHeader_pic">
            <img class="userImg point"  src={{user_img}} alt="post_userprofile" ></img>
        </div>
        <div class="postHeader_info">
            <div>
                <p class="ruda-regular point">{{user_name}}</p>
                <p class="ruda-regular-lighter">{{username}}</p>
            </div>
            <div>
                <p class="ruda-regular-lighter">{{postDate}}</p>
                <p class="ruda-regular-lighter">{{postTags}}</p>
            </div>
        </div>
        <div class="postHeader_follow">
            <img class="actionImg point" src="../../sprites/icons/Dark/icons8-add-user-male-96-darkmode.png" alt="follow" />
        </div>
    </div>
    <div class="post_content">
        <div class="postContent_text point">
            <a href="/feed/{{_id}}">
                <h3 class="work-sans-regular">
                    {{postTitle}}
                </h3>
                <p class="work-sans-regular">
                    {{postContent}}
                </p>
            </a>
        </div>
        {{#if postPicture}}
        <div class="postContent_image point">
            <img class="" src={{postPicture}} />
        </div>
        {{/if}}
    </div>
    <div class="post_actions">
        <div class="postActions_like">
            <img class="actionImg point" src="../../sprites/icons/Dark/icons8-like-96-darkmode.png" alt="like" />
            <p>{{postLikes}}</p>
        </div>
        <div class="postActions_dislike">
            <img class="actionImg point" src="../../sprites/icons/Dark/icons8-dislike-96-darkmode.png" alt="dislike" />
            <p>{{postDislikes}}</p>
        </div>
        <div class="postActions_comment">
            <img class="actionImg point" src="../../sprites/icons/Dark/icons8-comments-96-darkmode.png" alt="comment" />
            <p>{{postComments.length}}</p>
        </div>
        <img class="actionImg point" src="../../sprites/icons/Dark/icons8-share-96-darkmode.png" alt="share" />
    </div>
</div>