<div class="post universal_boxshadow">
    <div class="post_header">
        <div class="postHeader_pic">
            <img class="userImg point"  src={{singlepost.user_img}} alt="post_userprofile" ></img>
        </div>
        <div class="postHeader_info">
            <div>
                <p class="ruda-regular point">{{singlepost.user_name}}</p>
                <p class="ruda-regular-lighter">{{singlepost.username}}</p>
            </div>
            <div>
                <p class="ruda-regular-lighter">{{singlepost.postDate}}</p>
                <p class="ruda-regular-lighter">{{singlepost.postTags}}</p>
            </div>
        </div>
        {{!-- <div class="postHeader_follow"> --}}
            {{!<img class="actionImg point" src="../../sprites/icons/Dark/icons8-add-user-male-96-darkmode.png" alt="follow" />}}
            <form action="/feed/{{singlepost._id}}/edit" class="form-class" method="get">
                <input type="image" id="imgButton" class="actionImg point" src="../../sprites/icons/Dark/icons8-edit-96-darkmode.png" alt="edit" />
            </form>
            <form action="/feed/{{singlepost._id}}/delete" class="form-class" method="post">
                <input type="image" id="imgButton" class="actionImg point" src="../../sprites/icons/Dark/icons8-clear-96-darkmode.png" alt="delete" />
            </form>
        {{!-- </div> --}}
    </div>
    <div class="post_content">
        <div class="postContent_text point">
            <p class="work-sans-regular">
                {{singlepost.postTitle}}
            </p>
            <p class="work-sans-regular">
                {{singlepost.postContent}}
            </p>
        </div>
        {{#if singlepost.postPicture}}
        <div class="postContent_image point">
            <img class="" src={{singlepost.postPicture}} />
        </div>
        {{/if}}
    </div>
    <div class="post_actions">
        <div class="postActions_like">
            <img class="actionImg point" src="../../sprites/icons/Dark/icons8-like-96-darkmode.png" alt="like" />
            <p>{{singlepost.postLikes}}</p>
        </div>
        <div class="postActions_dislike">
            <img class="actionImg point" src="../../sprites/icons/Dark/icons8-dislike-96-darkmode.png" alt="dislike" />
            <p>{{singlepost.postDislikes}}</p>
        </div>
        <div class="postActions_comment">
            <img class="actionImg point" src="../../sprites/icons/Dark/icons8-comments-96-darkmode.png" alt="comment" />
            <p>{{singlepost.postComments}}</p>
        </div>
        <img class="actionImg point" src="../../sprites/icons/Dark/icons8-share-96-darkmode.png" alt="share" />
    </div>
</div>