<div class="post universal_boxshadow">
    <div class="post_header">
        <div class="postHeader_pic">
            <img class="userImg" src={{user_img}} alt="post_userprofile" />
        </div>
        <div class="postHeader_info">
            <div>
                <p class="ruda-regular">{{user_name}}</p>
                <p class="ruda-regular-lighter">{{username}}</p>
            </div>
            <div>
                <p class="ruda-regular-lighter">{{postDate}}</p>
                <p class="ruda-regular-lighter">#tag1, #tag2, #tag3</p>
            </div>
        </div>
        <div class="postHeader_follow">
            <img class="actionImg" src="../../sprites/icons/Dark/icons8-add-user-male-96-darkmode.png" alt="follow" />
        </div>
    </div>
    <div class="post_content">
        <div class="postContent_text">
            <p class="work-sans-regular">
                {{postContent}}
            </p>
        </div>
        {{#if postPicture}}
        <div class="postContent_image">
            <img class="" src={{postPicture}} />
        </div>
        {{/if}}
    </div>
    <div class="post_actions">
        <div class="postActions_like">
            <img class="actionImg" src="../../sprites/icons/Dark/icons8-like-96-darkmode.png" alt="like" />
            <p>100</p>
        </div>
        <div class="postActions_dislike">
            <img class="actionImg" src="../../sprites/icons/Dark/icons8-dislike-96-darkmode.png" alt="dislike" />
            <p>200</p>
        </div>
        <div class="postActions_comment">
            <img class="actionImg" src="../../sprites/icons/Dark/icons8-comments-96-darkmode.png" alt="comment" />
            <p>300</p>
        </div>
        <img class="actionImg" src="../../sprites/icons/Dark/icons8-share-96-darkmode.png" alt="share" />
    </div>
</div>